root = true

[*.{ts,tsx,js,jsx,mjs,cjs,json,css,md,yml,yaml,sql,ps1,txt,html}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{png,jpg,jpeg,gif,webp,ico,svg,mp4,mp3,wav}]
insert_final_newline = false
